<!DOCTYPE html>
<html>
    <head>
        <title>SearchEngineApp</title>
    </head>
    <body>
        <h1>Search results:</h1>
        {% if search_results %}
            {% for result in search_results %}
                <span>{{ result.title }}: </span><br>
                <a href="{{ result.url }}">{{ result.url }}</a><br>
                <span>{{ result.snippet | safe }}</span><br><br>
            {% endfor %}
        {% else %}
            <p>No matches found. Please try searching for something different.</p>
        {% endif %}

        <a href="/"><button>New Search</button></a>        
    </body>
</html>